header{
    text-align: center;
    text-decoration: blink;
    text-decoration: underline;
    font-size: 32px;
    color: orangered;
    font-family: Arial;
}
form{
    text-align: center;
    border-width: 2px;
    border-color: red;
    border-style: dashed;
    color: black;
}
body{
    background-color: silver;
    color: blue;    
    font-family: Times New Roman;
}